<mat-tab-group dynamicHeight>
  <div *ngIf="assignatura">
    <!-- Pestanya per la llista d'alumnes -->
    <mat-tab label="Alumnes">
      <div class="tab-content">
        <app-alumne-list [assignatura]="assignatura!"></app-alumne-list>
      </div>
    </mat-tab>

    <!-- Pestanya per la llista d'activitats -->
    <mat-tab label="Activitats">
      <div class="tab-content">
        <app-activitat-list [assignatura]="assignatura!"></app-activitat-list>
      </div>
    </mat-tab>
  </div>
</mat-tab-group>
