<div class="absolute top-20 left-0 right-0 bottom-0 bg-gray-100 p-4 overflow-y-auto">
  <div class="bg-white rounded-lg shadow-lg p-6">
    <!-- Botó de Guardar a la part superior dreta -->
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-2xl font-bold">Qualificar Activitat: {{ activitat.nom }}</h2>
      <div class="flex space-x-4">
        <!-- <button
          (click)="cancelarQualificacions()"
          class="px-4 py-2 bg-gray-500 text-white rounded-md hover:bg-gray-600 transition"
        >
          Cancel·lar
        </button> -->
        <button
          (click)="guardarQualificacions()"
          class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 transition"
        >
          Guardar
      </button>
      </div>
    </div>

    <!-- Taula de qualificació -->
    <table class="w-full border-collapse bg-white">
      <thead>
        <tr>
          <th class="px-6 py-3 border-b border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-600">
            Alumne
          </th>
          <th
            *ngFor="let competencia of activitat.competencies"
            class="cursor-pointer px-6 py-3 border-b border-gray-200 bg-gray-100 text-center text-sm font-semibold text-gray-600"
            matTooltip="{{ competencia.descripcio }}"
            matTooltipPosition="above"
          >
            {{ competencia.codi }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alumne of alumnes">
          <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-600">
            {{ alumne.nom }}
          </td>
          <td
            *ngFor="let competencia of activitat.competencies"
            class="px-6 py-4 border-b border-gray-200 text-sm text-gray-600"
          >
            <input
              type="number"
              class="w-16 p-1 border border-gray-300 rounded"
              [value]="getNota(alumne, competencia.codi) || ''"
              (change)="onNotaChange(alumne, competencia.codi, $event)"
              min="1"
              max="4"
              step="1"
              placeholder=""
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
