.custom-tooltip {
  font-size: 14px; /* Augmenta la mida del text */
  padding: 20px 35px; /* Augmenta l'espai interior */
  background-color: #333; /* Canvia el color de fons */
  color: #fff; /* Canvia el color del text */
  border-radius: 8px; /* Arrodoneix les cantonades */
  max-width: 450px; /* Limita l'amplada */
  text-align: center; /* Centra el text */
}
